body {
	background-color: darkkhaki;
    font-family: Chalkboard;
}

.jumbotron {
    background-color: darkkhaki;

}

.stickman {
    padding:5px;
	height: 250px;
    width: auto;
    position: relative;
}

.click {
    margin: 0.2rem;
}

.desert {
    background-color: bisque;
}

#western {
    background-image: url("https://ih0.redbubble.net/image.5089422.6140/flat,800x800,070,f.jpg");
    background-repeat: no-repeat;
    background-size: auto;

}
#title {
    color: black;
}

.score {
    color: black;
}





@media (min-width: 1024px){#letters{width: 25%;}}